body {
  background-color: purple;
}

img {
  max-width: 50%;
  max-height: auto;
  margin: 0 auto;
}

.card {
  width: 10%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border: 5px black solid;
}

.card h3 {
  font-size: .75rem;
  text-align: center;
}

#item-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  margin: 1rem 5rem;
}