body {
  background-color: purple;
}

img {
  width: 50%;
}


.card {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#item-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}